profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
    }

    docker {
        docker.enabled = true
    }

    tower {
        docker.enabled = true
        process {
            cpus = { 2 * task.attempt }
            memory = { 8.GB * task.attempt }
            maxRetries = 3
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore' }
        }
    }

    test {
        process.executor = 'local'
        docker.enabled = true
        params.input = 'samplesheet.csv'   // Only provide input for test profile
        params.dryrun = true
        params.aws_secret_prefix = 'TEST'
    }

    cds {
        params.aws_secret_prefix = 'CDS'
        docker.enabled = true
    }

    sage { includeConfig 'conf/sage.config'}
}

params{
    dryrun = false
    take_n = -1
    params.change_bucket = false
}

// Consolidate plugins into a single block
plugins {
    id 'nf-schema@2.2.0'
    id 'nf-boost'
}

boost {
    cleanup = false
}

trace {
    enabled = true
    overwrite = true
    file = 'reports/trace.csv'
    sep = ','
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar'
}

docker.enabled = true